@using Microsoft.AspNetCore.Http;
@{ 
    string NameSurName = Context.Session.GetString("NameSurname");
    string Image = Context.Session.GetString("Image");
    string Id = Context.Session.GetInt32("Id").ToString();
}


<div class="user-profile">
    <div class="user-pro-body">
        <div><img src="~/AdminStyle/img/AdminProfile/@Image" alt="user-img" class="img-circle"></div>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle u-dropdown link hide-menu" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@NameSurName<span class="caret"></span></a>
            <div class="dropdown-menu animated flipInY">
                <a href="/Admin/Profile/@Id" class="dropdown-item"><i class="ti-user"></i> Profilim</a>
                <a href="/Message/Index" class="dropdown-item"><i class="ti-email"></i> Mesajlar</a>
                <div class="dropdown-divider"></div>
                <a href="/Admin/Setting/1" class="dropdown-item"><i class="ti-settings"></i> Site Ayarları</a>
                <div class="dropdown-divider"></div>
                <a href="/Security/LogOut" class="dropdown-item text-danger"><i class="ti-power-off text-danger"></i> Çıkış</a>
            </div>
        </div>
    </div>
</div>