


<section class="home-about-section">
    <div class="container">
        <div class="row home-about-main g-5" data-aos="fade-up" data-aos-duration="1000">


            <div class="row home-about-main g-5" data-aos="fade-up" data-aos-duration="1000">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>404</h1>
                        <p> Sayfa Bulunamadı <br /> Kaldırılmış Veya Yolu Değiştirilmiş Olabilir</p>
                        <br />
                        <a class="btn btn-danger center" href="/">Anasayfa'ya Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



