<section class="home-header-section p-0">
    <div class="home-header-slider owl-carousel owl-theme">
        <div class="item">
            <img src="~/img/Slider/home-slider-1.jpg" alt="">
            <div class="slider-text position-absolute top-50 start-50 translate-middle">
                <p class="heading">"Gələcək sağlam olSUN!"</p>
                <p class="texting">
                    "SUN" gigiyenik kağız markası 20 ildən artıq müddətdir ki, daxili bazarda lider məhsullardan
                    birinə çevrilib.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/img/Slider/home-slider-2.jpg" alt="">
            <div class="slider-text position-absolute top-50 start-50 translate-middle">
                <p class="heading">"Sun Paper"</p>
                <p class="texting">
                    "SUN" gigiyenik kağız markası 20 ildən artıq müddətdir ki, daxili bazarda lider məhsullardan
                    birinə çevrilib.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="home-mahsul-slider-section">
    <div class="container">
        <div class="home-slider-main">
            <h4>Məhsullar</h4>
            <div class="home-mahsul-slider owl-carousel owl-theme">
                <a href="#" class="mahsul-card">
                    <div class="card-top-text">
                        <p class="mahsul-name">Sun Salfet</p>
                        <p class="olcu">Ölçü: 30*30</p>
                        <p class="aded">Ədəd sayı: 100</p>
                    </div>
                    <img class="mahsul-image" src="~/img/Product/mahsul-image1.png" alt="">
                    <span class="arrow d-flex align-items-center justify-content-center ">
                        <i class="bi bi-arrow-right-short"></i>
                    </span>
                </a>
                <a href="#" class="mahsul-card">
                    <div class="card-top-text">
                        <p class="mahsul-name">Sun Salfet</p>
                        <p class="olcu">Ölçü: 30*30</p>
                        <p class="aded">Ədəd sayı: 100</p>
                    </div>
                    <img class="mahsul-image" src="~/img/Product/mahsul-image2.png" alt="">
                    <span class="arrow d-flex align-items-center justify-content-center ">
                        <i class="bi bi-arrow-right-short"></i>
                    </span>
                </a>
                <a href="#" class="mahsul-card">
                    <div class="card-top-text">
                        <p class="mahsul-name">Sun Salfet</p>
                        <p class="olcu">Ölçü: 30*30</p>
                        <p class="aded">Ədəd sayı: 100</p>
                    </div>
                    <img class="mahsul-image" src="~/img/Product/mahsul-image3.png" alt="">
                    <span class="arrow d-flex align-items-center justify-content-center ">
                        <i class="bi bi-arrow-right-short"></i>
                    </span>
                </a>
                <a href="#" class="mahsul-card">
                    <div class="card-top-text">
                        <p class="mahsul-name">Sun Salfet</p>
                        <p class="olcu">Ölçü: 30*30</p>
                        <p class="aded">Ədəd sayı: 100</p>
                    </div>
                    <img class="mahsul-image" src="~/img/Product/mahsullar-image4.png" alt="">
                    <span class="arrow d-flex align-items-center justify-content-center ">
                        <i class="bi bi-arrow-right-short"></i>
                    </span>
                </a>
                <a href="#" class="mahsul-card">
                    <div class="card-top-text">
                        <p class="mahsul-name">Sun Salfet</p>
                        <p class="olcu">Ölçü: 30*30</p>
                        <p class="aded">Ədəd sayı: 100</p>
                    </div>
                    <img class="mahsul-image" src="~/img/Product/mahsul-image2.png" alt="">
                    <span class="arrow d-flex align-items-center justify-content-center ">
                        <i class="bi bi-arrow-right-short"></i>
                    </span>
                </a>
                <a href="#" class="mahsul-card">
                    <div class="card-top-text">
                        <p class="mahsul-name">Sun Salfet</p>
                        <p class="olcu">Ölçü: 30*30</p>
                        <p class="aded">Ədəd sayı: 100</p>
                    </div>
                    <img class="mahsul-image" src="~/img/Product/mahsul-image1.png" alt="">
                    <span class="arrow d-flex align-items-center justify-content-center ">
                        <i class="bi bi-arrow-right-short"></i>
                    </span>
                </a>
            </div>
            <a href="#"
               class="btn btn-mahsull-all d-flex align-items-center justify-content-center position-absolute end-0">
                Bütün məhsullar
            </a>
        </div>

    </div>
    <div class="svg-afters">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C143.06,24.19 438.20,119.91 504.79,27.14 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #1c129d;"></path>
        </svg>
    </div>
</section>

<section class="home-about-section">
    <div class="container">
        <div class="row home-about-main g-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-12 col-lg-6">
                <div class="left">
                    <h3>Haqqımızda</h3>
                    <p>
                        "SUN" gigiyenik kağız markası 20 ildən artıq müddətdir ki, daxili bazarda lider məhsullardan
                        birinə çevrilib. Bu marka tarixə ilk yerli gigiyenik kağız brendi kimi düşmüşdür. "SUN"
                        markasının özəlliklərindən ən əsası onun hər bir ailə üzvü tərəfindən istifadə edilməsidir.
                        Məhsulların müxtəlif ölçülərdə olması ev və iş yerləri üçün sərfəli salfetləri, kağız, qutu,
                        cib
                        dəsmalları illərdir ki, hər kəsin sağlamlığını qoruyur.
                    </p>
                </div>
            </div>
            <div class="col-12  col-lg-4 offset-lg-2">
                <div class="right">
                    <img class="img-fluid" src="~/img/About/home-about.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="svg-afters">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C143.06,24.19 438.20,119.91 504.79,27.14 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #fff"></path>
        </svg>
    </div>
</section>