@await Component.InvokeAsync("SliderList")

@await Component.InvokeAsync("ProductList")

<section class="home-about-section">
    <div class="container">
        <div class="row home-about-main g-5" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-12 col-lg-6">
                <div class="left">
                    <h3>Haqqımızda</h3>
                    <p>
                        "SUN" gigiyenik kağız markası 20 ildən artıq müddətdir ki, daxili bazarda lider məhsullardan
                        birinə çevrilib. Bu marka tarixə ilk yerli gigiyenik kağız brendi kimi düşmüşdür. "SUN"
                        markasının özəlliklərindən ən əsası onun hər bir ailə üzvü tərəfindən istifadə edilməsidir.
                        Məhsulların müxtəlif ölçülərdə olması ev və iş yerləri üçün sərfəli salfetləri, kağız, qutu,
                        cib
                        dəsmalları illərdir ki, hər kəsin sağlamlığını qoruyur.
                    </p>
                </div>
            </div>
            <div class="col-12  col-lg-4 offset-lg-2">
                <div class="right">
                    <img class="img-fluid" src="~/img/About/home-about.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="svg-afters">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none"
             style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C143.06,24.19 438.20,119.91 504.79,27.14 L500.00,150.00 L0.00,150.00 Z"
                  style="stroke: none; fill: #fff"></path>
        </svg>
    </div>
</section>