
@{
    ViewData["Title"] = "Lahiyeler";
}
<div class="box"></div>
<section>
    <div class="container">
        <div class="row align-items-center leyihalar-heading-main g-3 g-xl-0">
            <div class="col-12 col-lg-2">
                <p class="lahiyeler-heading">Layihələr</p>
            </div>
            <div class="col-12 col-lg-10">
                <p class="layihaler-text">
                    "SUN" markası ənənəvi olaraq hər il bölgə əhalisini şəxsi gigiyena mövzusunda maarifləndirir.
                    Qapıdan - qapıya gəzərək tualet kağızı istifadə edilmədikdə yayılan xəstəliklər və bunun
                    fəsadları barədə həkim nümayəndə vasitəsiylə kənd əhalisini məlumatlandırır. Digər ənənəyə
                    çevrilmiş layihəmiz "Məktəbli" layihəsidir. "Uşaqlıqdan qazanılan bilik daşa həkk olunan
                    yazıdır." - deyirlər. Biz də məhsul qrupu olaraq hədəfimizi böyük tutub, məktəblərdə
                    maarifləndirmə layihəmizi həm əyləncəli, həm də interaktiv şəkildə həyata keçirməyi özümüzə
                    məqsəd qoyduq.
                </p>
            </div>
        </div>
        <div class="layihe-card-main">
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mt-3 my-sm-5 g-5 g-md-3 g-xl-4 g-xxl-5">
                <div class="col">
                    <a href="https://www.youtube.com/watch?v=CbasHrrBP9M" class="leyihe-card" data-lity>
                        <img src="~/img/Lahiye/layihe-image1.png" alt="">
                        <i class="bi bi-play-btn-fill position-absolute top-50 start-50 translate-middle"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com/watch?v=CbasHrrBP9M" class="leyihe-card" data-lity>
                        <img src="~/img/Lahiye/leyiha-image-2.png" alt="">
                        <i class="bi bi-play-btn-fill position-absolute top-50 start-50 translate-middle"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com/watch?v=CbasHrrBP9M" class="leyihe-card" data-lity>
                        <img src="~/img/Lahiye/layihe-image1.png" alt="">
                        <i class="bi bi-play-btn-fill position-absolute top-50 start-50 translate-middle"></i>
                    </a>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com/watch?v=CbasHrrBP9M" class="leyihe-card" data-lity>
                        <img src="~/img/Lahiye/leyiha-image-2.png" alt="">
                        <i class="bi bi-play-btn-fill position-absolute top-50 start-50 translate-middle"></i>
                    </a>

                </div>
            </div>
        </div>

    </div>
</section>

