
@{
    ViewData["Title"] = "Lahiyeler";
}

<section>
    <div class="container">
       
        @await Component.InvokeAsync("Lahiye")

        @await Component.InvokeAsync("VideoList")

    </div>
</section>

