<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- User Profile-->
        @await Component.InvokeAsync("AdminProfile")

        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="nav-small-cap">--- İŞLEMLER</li>
                <li>
                    <a class=" waves-effect waves-dark" href="/Admin/Index"><i class="icon-speedometer"></i>Dashboard </a>

                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-layout-grid2"></i><span class="hide-menu">Ürünler</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Product/Index">Ürün Listesi</a></li>
                        <li><a href="/Product/Create">Ürün Ekle</a></li>

                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-video-clapper"></i><span class="hide-menu">Videolar</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="/Admin/VideosList">Video Listesi</a></li>
                        <li><a href="/Admin/VideosCreate">Video Ekle</a></li>

                    </ul>
                </li>
                <li>
                    <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-image"></i><span class="hide-menu">Sliderlar</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="app-calendar.html">Slider Listesi</a></li>
                        <li><a href="app-chat.html">Slider Ekle</a></li>

                    </ul>
                </li>
                <li>
                    <a class=" waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-settings"></i><span class="hide-menu">Ayarlar</span></a>

                </li>
                <li>
                    <a class=" waves-effect waves-dark" href="/Admin/MessagesList" aria-expanded="false"><i class="ti-email"></i><span class="hide-menu">Mesajlar 4</span></a>
                </li>
                <li>
                    <a class=" waves-effect waves-light" href="/"><i class="fa fa-home"></i>Anasayfa'ya Git </a>

                </li>
                <li>
                    <a class="waves-effect waves-dark text-danger" href="/Security/LogOut" aria-expanded="false">
                        <i class="ti-power-off text-danger"></i>
                        <span class="hide-menu">Çıkış</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>